@import 'src/styles/colors';

@mixin linkStyle (
  $color: $mainTextColor, 
  $text-decoration: none, 
  $transition: text-shadow 100ms ease-out
) {
  color: $color;
  text-decoration: $text-decoration;
  transition: $transition;
}

@mixin linkOnHover ($color: $mainTextColor) {
  text-shadow: 1px 1px 1px $color;
}

@mixin linkVisited ($color: $mainTextColor) {
  color: $color;
}